.header {
    padding: 1em;
    background-color: #747bff;
}

.logout {
    margin-top: 0.5em;
    background-color: white;
    height: 3em;
}
nav {
    display: flex;
    gap: 1.5em;
}

.nav-link {
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}